{% extends "layout_account2.html" %}
{% block content %}





<div class="container" id="containerid">
    <div class="row">
        <div class="col-lg-4">
           <div class="profile-card-4 z-depth-3" style="height: 635px">
            <div class="card">
              <div class="card-body text-center bg-info rounded">
               <div class="user-box" style="height: 142px">
                {% if img_data %}
                    <img src="data:image/png;base64,{{ img_data }}" alt="img_data" id="imgslot" height="140px;" width="140px;"/>
                {% else %}
                    <img src="../static/images/avatar-icon.png" alt="img_data"  id="imgslot"/>
                {% endif %}
              </div>
              <h5 class="mb-1 text-white">{{ user.username }}</h5>
              <h6 class="text-light">{{ user.company_details.sector }}</h6>
             </div>
              <div class="card-body" id="company_card_body">

              <ul class="list-group shadow-none">
                  {% if user.company_details.website %}
                  <li  class="list-group-item">
                      <div class="list-icon">
                            <i class="far fa-hand-pointer" onclick="window.open('http://{{user.company_details.website }}')"></i>
                      </div>
                      <div class="list-details">

                            <span>{{ user.company_details.website }}</span>
                            <small>Website Address</small>

                      </div>
                  </li>
                  {% endif %}

                {% if user.company_details.linkedin %}
                <li class="list-group-item">
                  <div class="list-icon">
                      {% if user.company_details.linkedin %}
                        <i class="fab fa-linkedin" onclick="window.open('http://www.linkedin.com/company/{{ user.company_details.linkedin }}')"></i>
                      {% endif %}
                  </div>
                  <div class="list-details" >
                    <span>{{ user.company_details.linkedin }}</span>
                    <small>Linkedin Account Name</small>
                  </div>
                </li>
                {% endif %}

                {% if user.company_details.github %}
                <li class="list-group-item">
                  <div class="list-icon">
                    <i class="fab fa-github"  onclick="window.open('http://www.github.com/{{ user.company_details.github }}')"></i>
                  </div>
                  <div class="list-details">
                    <span>{{ user.company_details.github }}</span>
                    <small>Github</small>
                  </div>
                </li>
                {% endif %}

                {% if user.company_details.address %}
                  <li class="list-group-item">
                  <div class="list-icon">
                   <i class="fas fa-map-marker-alt"></i>
                  </div>
                  <div class="list-details">
                    <span>{{ user.company_details.address }}</span>
                    <small>Address</small>
                  </div>
                </li>
              {% endif %}




                 <li class="list-group-item">
                <div style="padding-left: 5px;">
                    <h4 class="mb-1 line-height-3">{{ user.company_details.numberofworkers }}</h4>
                     <small class="">Workers</small>
                </div>
                </li>

              </ul>



               </div>

             </div>

           </div>
        </div>


        <div class="col-lg-8">
           <div class="card z-depth-3" style="min-height: 635px">
            <div class="card-body">
            <ul class="nav nav-pills">


                {% if formerror %}
                    <li class="nav-item">
                        <a href="javascript:void();" data-target="#profile" data-toggle="pill" class="nav-link"><i class="icon-user"></i> <span class="hidden-xs">Profile</span></a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="javascript:void();" data-target="#profile" data-toggle="pill" class="nav-link active show"><i class="icon-user"></i> <span class="hidden-xs">Profile</span></a>
                    </li>
                {% endif %}

                <li class="nav-item">
                    <a href="javascript:void();" data-target="#messages" data-toggle="pill" class="nav-link"><i class="icon-envelope-open"></i> <span class="hidden-xs">Advertisements</span></a>
                </li>

                {% if current_user.username == user.username %}
                    {% if formerror %}
                        <li class="nav-item">
                            <a href="javascript:void();" data-target="#edit" data-toggle="pill" class="nav-link active show"><i class="icon-note"></i> <span class="hidden-xs">Edit</span></a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="javascript:void();" data-target="#edit" data-toggle="pill" class="nav-link"><i class="icon-note"></i> <span class="hidden-xs">Edit</span></a>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
            <div class="tab-content p-3">
                {% if formerror %}
                   <div class="tab-pane" id="profile">
                {% else %}
                    <div class="tab-pane active show" id="profile">
                {% endif %}


                    <div class="row">
                        <div class="col-md-6">
                            <div class="aboutcompany">
                                <h6>About</h6>
                                 <p class="aboutcompany_p">
                                     {{ user.company_details.description  }}
                                 </p>

                            </div>


                        </div>
                        <div class="col-md-6">
                            <h6>Recently Used   Keywords</h6>
                            {%  if business_keywords is not none %}
                            {% for k in business_keywords %}
                                {% if loop.index >=20 %}

                                {% else %}
                                    <a href="javascript:void();" class="badge badge-dark badge-pill">{{ k.name }}</a>
                                {% endif %}
                            {%  endfor %}
                            {% endif %}
                        
                            <hr>

                            <!-- Material input -->





                        </div>
                        <div class="col-md-12" style="height:200px">
                            <br>
                            <ul class="list-group">
                              <li class="list-group-item active">Working Areas</li>
                              {% for i in user.company_details.interests|reverse %}
                                  {% if loop.index >=5 %}

                                  {% else %}
                                  <li class="list-group-item">{{ i.name }}

                                   {% if current_user.username == user.username %}
                                        <button onclick="window.location.href='{{ url_for('delete_interest',company_detail_id = user.company_details.id,interest_id = i.id) }}';"
                                                type="button" class="btn btn-danger"
                                                 style="height: 10px;width: 5px;font-size: 3px;float: right"></button>
                                   {% endif %}

                                  {% endif %}

                                  </li>
                              {% endfor %}

                            </ul>
                        </div>
                    </div>
                    <!--/row-->
                </div>
                <div class="tab-pane" id="messages">
                <!--
                    <div class="alert alert-info alert-dismissible" role="alert">
    			   <button type="button" class="close" data-dismiss="alert">×</button>
				    <div class="alert-icon">
					 <i class="icon-info"></i>
				    </div>
				    <div class="alert-message">
				      <span><strong>Ads : </strong>You can see all advertisements belong to {{ user.company_details.name }}</span>
				    </div>
                  </div>
                  -->
                    <table class="table table-hover table-striped">

                        <tbody>
                        {% if current_user.username == user.username %}
                            <tr>
                                <td>
                                    <a class="btn btn-success" href="{{ url_for('create_advertisement') }}" role="button">Post New Add
                                    </a>

                                </td>
                            </tr>
                        {% else %}
                        {% endif %}
                            {% for ad in ads %}

                            <tr>
                                <td>
                                   <span class="float-right font-weight-bold">{{ ad.date_posted.strftime("%B %d, %Y") }}</span>
                                    <a href="/{{ad.id}}/detail">{{ ad.title }}</a>

                                    {% if ad.users|length == ad.responses|length %}
                                        <span class="badge bg-secondary">{{ ad.users|length }}</span>

                                    {% else %}
                                    <span class="badge bg-warning">{{ ad.users|length }}</span>
                                    {% endif %}


                                </td>
                            </tr>

                            {% endfor %}

                        </tbody>
                    </table>
                </div>

                {% if current_user.username == user.username %}
                     {% if formerror %}
                        <div class="tab-pane active show" id="edit">
                    {% else %}
                         <div class="tab-pane" id="edit">
                    {% endif %}

                    <form method="POST" action="" enctype="multipart/form-data">

                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Edit User Profile</legend>

                        <div class="form-group">
                            {{ form.name.label(class="form-control-label") }}
                            {% if form.name.errors %}
                                {{ form.name(class="form-control form-control-lg is-invalid",value = user.company_details.name) }}
                                <div class="invalid-feedback">
                                    {% for error in form.username.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.name(class="form-control form-control-lg is-invalid",value = user.company_details.name) }}
                            {% endif %}
                        </div>

                        <div class="form-group">
                            {{ form.description.label(class="form-control-label") }}
                            {% if form.description.errors %}
                                {{ form.description(class="form-control form-control-lg is-invalid",value = user.company_details.description) }}
                                <div class="invalid-feedback">
                                    {% for error in form.description.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.description(class="form-control form-control-lg is-invalid",value = user.company_details.description) }}
                            {% endif %}
                        </div>


                        <div class="form-group">
                            {{ form.sector.label(class="form-control-label") }}
                            {% if form.sector.errors %}
                                {{ form.sector(class="form-control form-control-lg is-invalid",value = user.company_details.sector) }}
                                <div class="invalid-feedback">
                                    {% for error in form.sector.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.sector(class="form-control form-control-lg is-invalid",value = user.company_details.sector) }}
                            {% endif %}
                        </div>

                         <div class="form-group">
                            {{ form.numberofworkers.label(class="form-control-label") }}
                            {% if form.numberofworkers.errors %}
                                {{ form.numberofworkers(class="form-control form-control-lg is-invalid",value = user.company_details.numberofworkers) }}
                                <div class="invalid-feedback">
                                    {% for error in form.numberofworkers.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.numberofworkers(class="form-control form-control-lg is-invalid",value = user.company_details.numberofworkers) }}
                            {% endif %}
                        </div>



                        <div class="form-group">
                            {{ form.website.label(class="form-control-label") }}
                            {% if form.website.errors %}
                                {{ form.website(class="form-control form-control-lg is-invalid",value = user.company_details.website) }}
                                <div class="invalid-feedback">
                                    {% for error in form.website.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.website(class="form-control form-control-lg is-invalid",value = user.company_details.website) }}
                            {% endif %}
                        </div>

                        <div class="form-group">
                            {{ form.github.label(class="form-control-label") }}
                            {% if form.github.errors %}
                                {% if user.company_details.github %}
                                {{ form.github(class="form-control form-control-lg is-invalid",value = user.company_details.github) }}
                                {% else %}
                                {{ form.github(class="form-control form-control-lg is-invalid",value="") }}
                                {% endif %}
                                <div class="invalid-feedback">
                                    {% for error in form.github.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {% if user.company_details.github %}
                                {{ form.github(class="form-control form-control-lg is-invalid",value = user.company_details.github) }}
                                {% else %}
                                {{ form.github(class="form-control form-control-lg is-invalid") }}
                                {% endif %}
                            {% endif %}
                        </div>

                        <div class="form-group">
                            {{ form.linkedin.label(class="form-control-label") }}
                            {% if form.linkedin.errors %}
                                {{ form.linkedin(class="form-control form-control-lg is-invalid",value = user.company_details.linkedin) }}
                                <div class="invalid-feedback">
                                    {% for error in form.linkedin.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.linkedin(class="form-control form-control-lg is-invalid",value = user.company_details.linkedin) }}
                            {% endif %}
                        </div>

                        <div class="form-group">
                            {{ form.address.label(class="form-control-label") }}
                            {% if form.address.errors %}
                                {{ form.address(class="form-control form-control-lg is-invalid",value = user.company_details.address) }}
                                <div class="invalid-feedback">
                                    {% for error in form.address.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.address(class="form-control form-control-lg is-invalid",value = user.company_details.address) }}
                            {% endif %}
                        </div>

                           <div class="form-group">
                            {{ form.image.label(class="form-control-label") }}
                            {% if form.image.errors %}
                                {{ form.image(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.image.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.image(class="form-control form-control-lg is-invalid") }}
                            {% endif %}
                        </div>



                        <div class="form-group">
                            {{ form.username.label(class="form-control-label") }}

                            {% if form.username.errors %}
                                {{ form.username(class="form-control form-control-lg is-invalid",value = user.username)}}
                                <div class="invalid-feedback">
                                    {% for error in form.username.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.username(class="form-control form-control-lg",value = user.username)}}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.email.label(class="form-control-label") }}
                            {% if form.email.errors %}
                                {{ form.email(class="form-control form-control-lg is-invalid", value=user.email)}}
                                <div class="invalid-feedback">
                                    {% for error in form.email.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.email(class="form-control form-control-lg", value=user.email) }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.password.label(class="form-control-label") }}
                            {% if form.password.errors %}
                                {{ form.password(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.password.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.password(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.confirm_password.label(class="form-control-label") }}
                            {% if form.confirm_password.errors %}
                                {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.confirm_password.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.confirm_password(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>


                        </fieldset>
                        <div class="form-group">
                            {{ form.submit(class="btn btn-outline-info") }}
                        </div>
                    </form>
                </div>
                {% endif %}
            </div>
        </div>
      </div>
      </div>

    </div>
</div>





{% endblock content %}